playwright
docx2txt
python-pptx
Pyarrow
langchain-community
unstructured[all-docs]
poppler-utils
python-magic
supabase
magika
pandas
colorama
requests
pillow
pytesseract
cssutils
beautifulsoup4
torch
llmlingua
PyMuPDF
pdf2image